<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
	
				<!--
				Hello.
				░░░░░░░░░▄░░░░░░░░░░░░░░▄░░░░
				░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌░░░
				░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐░░░
				░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐░░░
				░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐░░░
				░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌░░░ 
				░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌░░
				░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐░░
				░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌░
				░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌░
				▀▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐░
				▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
				▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐░
				░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌░
				░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐░░
				░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌░░
				░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀░░░
				░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀░░░░░
				░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀░░░░░░░░
				-->

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/cssterm.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/jquery.terminal-1.0.12.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/scripts/cssterm.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <script src="/scripts/jquery.terminal-1.0.12.min.js"></script>
    
    
    <script>
        var userip;
        var userCity;
        var userCountry;
        
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "http://ipinfo.io/json", true);
        xhr.send();
         
        xhr.onreadystatechange = processRequest;

        function processRequest(e) 
        {
            if (xhr.readyState == 4 && xhr.status == 200)
            {
                var response = JSON.parse(xhr.responseText);
                console.log(response);
                userip = response.ip;
                userCity = response.city;
                userCountry = response.country;
                
                var string = 
                [
                    "<span style='color: #e5e500; font-weight:bold'>Target identified</span>: ^1000 (<span style='color: #ff0000; font-weight:bold'>"+userip+"</span>) of <span style='color: #ff0000; font-weight:bold'>"+userCity+", "+userCountry+".</span><br><br>"+
                    "msf exploit(<span style='color: #ff0000;'>web_delivery</span>)<span style='color: #13c16a;'> > exploit</span><br><br>"+
                    "<span style='color: #0000ff;'>[*]</span> Handler binding to LHOST 192.168.0.1:89<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Started reverse handler<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Triggering the vulnerability...<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Transmitting intermediate stager for over-sized stage...(191 bytes)<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Sending stage (2650 bytes)<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Sleeping before handling stage...<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Uploading DLL (75787 bytes)...<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Upload completed.<br>"+
                    "<span style='color: #0000ff;'>[*]</span> Meterpreter session 1 opened (192.168.0.1:89 -&gt; "+userip+")<br><br>"+
                    "<br>msf exploit(<span style='color: #ff0000;'>web_delivery</span>) > <span style='color: #13c16a;'>sessions -i 1</span></br></br>"+
                    "<span style='color: #333399;'>[*]</span> Starting interaction with 1...<br><br>"+
                    "<div id='meterpreter'></div>"
                ];

                Typed.new(".typed", {
                    strings: string,
                    typeSpeed: 3,
                    // backspacing speed
                    backSpeed: 5,
                    callback: function(){
                        jQuery(function($, undefined) {
                            $('#meterpreter').terminal(function(command) {
                                switch(command !== '') {
                                case(""):
                                    this.echo("");
                                    break;
                                case("ls"):
                                    this.echo("secretfile.txt")
                                    break;
                                case("whoami"):
                                    this.echo("root");
                                    break;
                                case("cat secretfile.txt"):
                                    this.echo("huehuehuehue");
                                    break;
                                default:
                                    this.echo("bash: "+command+" : command not found");
                                    break;
                                }
                            }, {
                                greetings: "",
                                name: 'js_demo',
                                height: 200,
                                prompt: 'meterpreter> '
                            });
                        });
                    },
                });
            }
        }
    </script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <!--<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>-->

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
			<!--{% include svg-icons.html %}-->
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
		  <p>&copy; Laurence Stokes 2015<script>new Date().getFullYear()>2015&&document.write("-"+new Date().getFullYear());</script>. | Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> with the <a href="http://www.jekyllnow.com/" target="_blank">JekyllNow</a> Theme. | Hosted on <a href="https://github.com/LaurenceStokes/LaurenceStokes.github.io" target="_blank">Github</a></p>
          <p>Generated {{ site.time |  date: "%Y-%m-%d %H:%M" }} | Revision {{ site.github.build_revision }}</p>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
